@media (max-width: 1400px) {

    /* about second section  */
    .small-image-tag {
        top: 5%;
        right: -10%;
    }

    .short-note ul li h4 {
        margin: 0 9px 0 11px;
        width: 15rem;
    }
}

@media (max-width: 1200px) {

    /* about second section  */
    .image-wrapper {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .about-content h3 {
        font-size: 2.5rem;
    }

    .small-image-tag {
        top: 0%;
        right: -4%;
    }

    .short-note ul li i,
    .short-note ul li h4 {
        font-size: 18px;
    }

    .short-note ul li {
        align-items: start;
    }
}

@media (max-width: 992px) {
    .about-container .row {
        flex-direction: column-reverse;
    }

    .blob-shape {
        border-radius: 20px;
        border-width: 4px;
    }

    .small-image-tag {
        top: 4px;
        right: auto;
        left: 4px;
    }

    .image-wrapper {
        position: relative;
        width: 100%;
        height: 100% !important;
    }

    /* slides */

    .slide-info {
        padding: 3rem 0 0 0;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: -2rem;
    }

    /* MISSION */
    .mission-text p {
        font-size: 16px;
    }

}


@media (max-width: 768px) {

    /* Second Section  */
    .short-note ul li i,
    .short-note ul li h4 {
        font-size: 18px;
        width: max-content;
    }

    .short-note ul li {
        flex-direction: column;
        gap: 5px;
    }

    .short-note ul li p {
        margin-left: 30px;
    }

    /* SLIDES */
    .slide-text h3 {
        font-size: 26px;
    }

    /* MISSION */
    .mission {
        border: 0;
        border-bottom: 2px solid var(--accent-10);
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {

    .slide-info {
        margin: 3rem 0 0 0;
        padding: 0;
    }

    .slide-1 {
        background-image: url('../Images/slide1.jpg');
    }

    .slide-2 {
        background-image: url('../Images/slide2.jpg');
    }

    .slide-3 {
        background-image: url('../Images/slide3.jpg');
    }

    .slide-4 {
        background-image: url('../Images/slide4.jpg');
    }

    .slide-1,
    .slide-2,
    .slide-3,
    .slide-4 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
    }

    .slide-text {
        padding: 4rem 2rem;
        margin: 2rem;
        border: 2px solid white;
        border-radius: 20px;
        backdrop-filter: blur(40px);
    }

    .slide-text p,
    .slide-text h3 {
        color: white;
        text-align: center;
    }

}


@media (max-width: 425px) {


    #pageFirstView {
        height: 100%;
        padding: var(--section-padding);
        object-fit: cover;
    }

    .page-title h2 {
        font-size: 48px;
    }

    .page-ref h4 a {
        font-size: 22px;
    }


    .about-content h3 {
        font-size: 32px;
    }

    .small-image-tag h3 {
        font-size: 16px;
    }

    .slide-text {
        padding: 2rem 0.5rem;
    }

    .slide-text h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .slide-text p {
        font-size: 14px;
    }

    .mission-info h2 {
        font-size: 22px;
    }

    .mission-text h3 {
        font-size: 24px;
        margin: 1rem 0 0.5rem 0;
    }
}

@media (max-width: 375px) {
    .about-content h3 {
        font-size: 26px;
    }

    .about-content p {
        text-align: justify;
    }
}