@media (max-width: 992px) {
    .therapy-heading h3 {
        font-size: 22px;
    }

}

@media (max-width: 768px) {
    .page-title h2 {
        font-size: 32px;
    }
}

@media (max-width: 425px) {
    .intro-icon {
        width: 5.5rem;
        height: 5.5rem;
        padding: 1rem;
    }

    .section-title p {
        margin: 0 12px;
    }

    .page-title h2 {
        font-size: 26px;
    }

    .page-ref h4 a {
        font-size: 18px;
    }

    .service-card-image {
        width: 4rem;
        height: 4rem;
    }
}