:root {
    --card-img-size: 8rem;
    --card-img-padding: 1.5rem;
}

#appointment {
    padding: var(--section-padding);
}

.appointment-title h2 {
    color: var(--secondary-30);
    font-weight: 600;
}

.details-card {
    background-color: white;
    border: 2px solid #ddd;
    gap: 2rem;
    padding: 2rem 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.22);
}

.details-card,
.card-image {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.card-image {
    background-color: #d9b03b;
    width: var(--card-img-size);
    height: var(--card-img-size);
    padding: var(--card-img-padding);
    border-radius: 100%;
}

.details-card h4 {
    font-size: 24px;
}

.card-2 .card-image {
    background-color: var(--accent-10);
}

.card-3 .card-image {
    background-color: #92b864;
}

/* ================= */
/* Steps */
#appointment-steps {
    padding: var(--section-padding);
}

.step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-30);
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.step2 .step-number {
    background-color: var(--accent-10);
}

.step3 .step-number {
    background-color: #d9b03b;
}

.step4 .step-number {
    background-color: #92b864;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.step h1 {
    font-size: 32px;
    color: white;
}

.step p {
    text-align: center;
}

.step1 h3 span {
    color: var(--secondary-30);
}

.step2 h3 span {
    color: var(--accent-10);
}

.step3 h3 span {
    color: #d9b03b;
}

.step4 h3 span {
    color: #92b864;
}



/* Dashes */
.dash-col {
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.steps-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.steps-dash {
    width: 100%;
    height: 2px;
    background-color: #ddd;
}

.dot-left,
.dot-right {
    position: relative;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;
}

.dot-left::before,
.dot-right::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    z-index: 4;
}

.dot-left::before {
    left: -1rem;
    background-color: var(--secondary-30);
}

.dot-right::after {
    right: -1rem;
    background-color: var(--secondary-30);
}

.dot-2::after,
.dot-3::before {
    background-color: var(--accent-10);
}

.dot-4::after,
.dot-5::before {
    background-color: #d9b03b;
}

.dot-6::after {
    background-color: #92b864;
}

/* last text */
.appointment-last p {
    color: var(--secondary-30);
    font-weight: 600;
}