* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --primary-60: #F8F9FA;
    --secondary-30: #008080;
    --accent-10: #E9967A;
    --transition: all 0.3s;
    --logo-size: 5rem;
    --small-btn-padding: 10px 20px;
    --small-radius: 15px;
    --header-h1: 58px;
    --header-h2: 42px;
    --header-h3: 32px;
    --trans-black: #00000087;
    --text-color: #555;
    --section-padding: 5rem 0;
    --service-img-size: 15rem;
    --card-img-size: 6rem;
    --card-img-padding: 1rem;
}

.my-svg {
    width: 50px;
    /* Set the default color for your STORI brand */
    fill: #008080;
    /* Deep Teal */
    transition: fill 0.3s ease;
}

.my-svg:hover {
    fill: #e07a5f;
    /* Terracotta */
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-60);
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    color: black;
}

p {
    color: var(--text-color);
}

.d-c-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    background-color: transparent;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.section-title h2 {
    font-size: var(--header-h2);
    font-weight: 600;
    color: var(--secondary-30);
}

.section-title p {
    background: var(--secondary-30);
    width: fit-content;
    color: white;
    padding: 10px 30px;
    margin: 0 12px;
    border-radius: 20px;
}

/* =================== */
/* Navbar */
#Navbar {
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
}



nav {
    position: relative;
}

.nav-service-categories {
    position: absolute;
    background: white;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
    top: calc(5rem + 21px);
    opacity: 0;
    transition: all 0.3s;
}


.nav-service-categories ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-service-categories ul li a {
    font-size: 16px;
    font-weight: 500;
    transition: var(--transition);
}

.nav-service-categories ul li a:hover {
    color: var(--secondary-30);
}

.nav-div {
    height: 24px;
    width: 1px;
    background-color: var(--secondary-30);
}

.nav-service-categories.nav-show {
    height: auto;
    padding: 15px 20px;
    opacity: 1;
}

.service-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.service-click {
    font-size: 22px;
    transition: all 0.3s;
    cursor: pointer;
    color: black;
}

.service-click:hover {
    color: var(--secondary-30);
}

.service-click.clicked {
    color: var(--secondary-30);
    transform: rotate(180deg);
}










.nav-logo {
    width: var(--logo-size);
    height: var(--logo-size);
}

.nav-links a {
    font-size: 16px;
    font-weight: 500;
    transition: var(--transition);
}

.nav-social-links a {
    font-size: 24px;
}

.nav-links a:hover {
    color: var(--secondary-30);
}

.btn-style {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: var(--secondary-30);
    border: 2px solid var(--secondary-30);
    padding: var(--small-btn-padding);
    border-radius: var(--small-radius);
    transition: var(--transition);
}

.btn-style:hover {
    color: black;
    background-color: var(--accent-10);
    border-color: var(--accent-10);
}

/* Pages INFORMATION */
#pageFirstView {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.page-bg img {
    object-fit: fill;
    opacity: 0.2;
}

.page-title,
.page-ref {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.page-title {
    flex-direction: column;
    gap: 0.3rem;
}

.page-title h2 {
    color: black;
    font-size: var(--header-h1);
    font-weight: 600;
}

.page-ref i {
    margin-bottom: -4px;
}

.page-ref h4 a {
    font-size: 16px;
    color: black;
    transition: var(--transition);
}

.page-ref h4 a:hover {
    color: var(--secondary-30);
}


/* ==================================== */
/* section separator */

.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 0 25%;
}

.dash {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-30);
}

/* Cta Section */
#CTA-Banner {
    background-image: linear-gradient(45deg, rgba(0, 128, 128, 1) 50%, rgba(233, 150, 122, 1) 100%);
    padding: var(--section-padding);
}

.color-change {
    border-color: var(--accent-10);
    background-color: var(--accent-10);
    color: black;
}

.color-change:hover {
    background-color: var(--secondary-30);
    border-color: white;
    color: white;
}

.banner-info h3 {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.banner-info p {
    color: white;
    margin: 10px 0 40px 0;
}






















/* =================== */
/* Footer */
#footer {
    background-color: var(--primary-60);
    padding: var(--section-padding);
    padding-bottom: 2rem;
    border-top: 1px solid #ddd;
}

.footer-title {
    margin-bottom: 2rem;

}

.footer-title h4 {
    font-size: 18px;
    font-weight: 600;
}

.company-logo a img {
    width: 8rem;
    height: 8rem;
}

.company-logo h6 {
    text-align: justify;
}

.footer-effect a,
.footer-address {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;

}

.footer-links ul {
    display: flex;
    align-content: center;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
}

.footer-effect a:hover h3,
.pages-link a:hover {
    color: var(--secondary-30);
}

.footer-effect a img,
.footer-address img {
    width: 25px;
}

.footer-effect a h3,
.footer-address h3,
.pages-link a {
    font-size: 18px;
    font-weight: 400;
    transition: var(--transition);
}

.social-link a {
    border: 2px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--transition);
}

.social-link i {
    font-size: 24px;
    color: black;
    transition: var(--transition);
}

.social-link a:hover {
    color: var(--secondary-30);
    border-color: var(--secondary-30);
}

.social-link a:hover i {
    color: var(--secondary-30);
}

.footer-divider {
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #ddd;
    margin: 2rem 0;
}

.copyright a {
    color: var(--secondary-30);
    font-size: 18px;
    transition: var(--transition);
}

.copyright a:hover {
    letter-spacing: 1px;
}

/* MEDIA QUARIES */
@media (max-width: 992px) {

    :root {
        --header-h2: 28px;
    }

    /* footer */
    .footer-effect a h3,
    .footer-address h3,
    .pages-link a {
        font-size: 16px;
    }

    .section-title h2 {
        font-size: var(--header-h2);
    }

}


@media (max-width: 768px) {


    :root {
        --service-img-size: 10rem;
    }

    .d-c-b {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .transition {
        transition: all 0.3s;
    }


    /* toggle pages links portion */
    .navbar-content {
        position: relative;
    }

    .toggle-pages {
        height: 0;
        overflow: hidden;
        overflow-y: scroll;
        position: absolute;
        backdrop-filter: blur(10px);
        top: 101px;
        width: 100%;
        z-index: 15;
        transition: all 0.3s;
    }

    .toggle-pages.show {
        height: calc(100vh - 101px) !important;
        border-bottom: 2px solid var(--secondary-30);
        padding: 30px 20px;
    }

    .toggle-pages-link ul li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
        width: 100%;
    }

    .toggle-pages-link ul li a i {
        color: black;
    }

    .toggle-pages-link ul li a p {
        font-size: 18px;
        font-weight: 600;
        color: black;
    }

    .toggle-pages-link ul li a:hover p,
    .toggle-pages-link ul li a:hover i {
        color: var(--secondary-30);
    }

    .nav-social-links-small ul li a {
        font-size: 26px;
        gap: 15px;
        color: #555;
    }

    /* toggleBTN editing */
    .toggle-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        overflow: hidden;
        width: 45px;
        height: 45px;
        padding: 0;
    }

    .transition {
        transition: all 0.3s;
    }

    .bar {
        width: 40px;
        height: 3px;
        background-color: black;
    }

    .bar1 {
        width: 20px;
        align-self: end;
    }

    .bar1.show {
        transform: translateX(50px);
        background-color: var(--secondary-30);
    }

    .bar2.show {
        transform: rotate(-45deg);
        background-color: var(--secondary-30);
    }

    .bar3 {
        width: 20px;
        align-self: start;
    }

    .bar3.show {
        transform: translateX(-50px);
        background-color: var(--secondary-30);
    }

    .bar4 {
        transform: translateX(-40px) translateY(-40px) rotate(45deg);
        position: absolute;
    }

    .bar4.show {
        transform: translateX(0) translateY(0) rotate(45deg);
        background-color: var(--secondary-30);
    }
}

@media (max-width: 425px) {
    :root {
        --section-padding: 4rem 0;
    }

    #pageFirstView {
        height: 100%;
        padding: var(--section-padding);
    }

    .page-bg img {
        object-fit: cover;
    }

    .page-title h2 {
        font-size: 36px;
    }

    .page-ref h4 {
        font-size: 22px;
    }

    .page-ref h4 a {
        font-size: 18px;
    }

}